.header {
    margin: 12px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 10px;
}
app-searchbar-layout {
    width: 98%;
    margin: auto;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-carregar, .usuarios {
    width: 100%;
    height: 100%;
}
.error-carregar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--cor-cinza);
    font-weight: bolder;
}
.usuarios {
    display: flex;
    justify-content: center;

}
/*NAO SEI OQ EU FIZ NO GRID, APENAS NAO TOQUE*/
.grid {
    margin-top: 60px;
    width: 1235px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 40px 125px;
}
.usuario-card {
    width: 200px;
    height: 250px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 5px 3px var(--cor-cinza);
    background-color: var(--cor-cinza-roxo);
    transition: all 0.2s;
}

.usuario-card:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}
.card-bottom, .card-top {
    width: 100%;
    display: flex;
    justify-content: end;
}
.card-bottom img, .card-top img{
    height: 25px;
}
.card-bottom button, .card-top button {
    border-radius: 40px;
    padding: 5px 7px;
    border-style: none;
    box-shadow: 0 0 7px 0.5px rgba(83, 83, 83, 0.652);
}
.card-bottom button {
    background-color: var(--cor-vermelho);
}
.forms-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.forms-editor h2 {
    color: var(--cor-roxo-primario);
    font-weight: 700;
    font-size: 36px;
    margin: 15px 0;
}
.forms-editor input {
    background-color: var(--cor-cinza-roxo-bk);
    width: 250px;
    padding: 10px 20px;
    border-radius: 100px;
    border-style: none;
    box-shadow: inset 1px 1px 5px 1px var(--cor-cinza);
    color: var(--cor-textos);
    font-size: 20px;
}
.forms-editor select {
    background-color: var(--cor-cinza-roxo-bk);
    width: 290px;
    padding: 10px 10px;
    border-radius: 100px;
    border-style: none;
    box-shadow: inset 1px 1px 5px 1px var(--cor-cinza);
    color: var(--cor-textos);
    font-weight: 700;
    font-size: 16px;
}
.forms-editor button {
    background-color: var(--cor-roxo-primario);
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-style: none;
    border-radius: 100px;
    padding: 15px 25px;
    box-shadow: 0 0 5px 1px var(--cor-roxo-escuro);
    margin: 15px 0;
    transition: all 0.25s;
}
.forms-editor button:hover {
    transform: scale(1.1);
    transition: all 0.25s;
    cursor: pointer;
}
.usuario-card button {
    transition: all 0.3s;
}
.usuario-card button:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    opacity: 80%;
    cursor: pointer;
}
.card-top button {
    background-color: var(--cor-roxo-primario);
}
.card-top img {
    margin: 3px 0 0 3px;
}
.card-middle {
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin: 10px auto;
    gap: 10px;
    overflow-y: auto;
}
.card-middle h2 {
    font-size: 24px;
    margin: auto;
    font-weight: bold;
    color: var(--cor-textos);
}
.card-top span {
    font-size: 19px;
    color: var(--cor-textos);
    font-weight: bold;
    margin: auto auto auto 0;
}
.card-middle p {
    font-size: 19px;
    height: 40px;
    color: var(--cor-info);
}
.loading {
    transform: scale(1.0);
    font-size: 20px;
    color: var(--cor-textos);
}
.loading span {
    margin: auto;
}
.opc {
    margin-left: 15px;
    height: 50px;
    gap: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 17px;
}
.opc span {
    color: var(--cor-cinza-search);
    font-weight: bolder;
    transition: all 0.25s;
}
.opc .selecionado {
    color: var(--cor-roxo-primario);
    font-size: 20px;
    transition: ease 0.4s;

}
.opc span:hover {
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1.0);
    transition: all 0.2s;
}