.header {
    margin: 12px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 10px;
}
app-searchbar-layout {
    width: 98%;
    margin: auto;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-carregar, .categorias {
    width: 100%;
    height: 100%;
}
.error-carregar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--cor-cinza);
    font-weight: bolder;
}
.categorias {
    display: flex;
    justify-content: center;

}
/*NAO SEI OQ EU FIZ NO GRID, APENAS NAO TOQUE*/
.grid {
    margin-top: 60px;
    width: 1235px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 40px 125px;
}
.categoria-card {
    width: 200px;
    height: 250px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 0 5px 3px var(--cor-cinza);
    background-color: var(--cor-cinza-roxo);
}
.criar {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 20px 30px;
    background-color: var(--cor-vermelho);
    border-style: none;
    border-radius: 100px;
    box-shadow: 0 0 5px 3px var(--cor-cinza);
    color: white;
    font-size: 20px;
}
.forms-chamado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.forms-chamado h2 {
    color: var(--cor-roxo-primario);
    font-weight: 700;
    font-size: 36px;
    margin: 15px 0;
}
.forms-chamado input {
    background-color: var(--cor-cinza-roxo-bk);
    width: 250px;
    padding: 10px 20px;
    border-radius: 100px;
    border-style: none;
    box-shadow: inset 1px 1px 5px 1px var(--cor-cinza);
    color: var(--cor-textos);
    font-size: 20px;
}.forms-chamado button {
    background-color: var(--cor-roxo-primario);
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-style: none;
    border-radius: 100px;
    padding: 15px 25px;
    box-shadow: 0 0 5px 1px var(--cor-roxo-escuro);
    margin: 15px 0;
}
.opc {
    margin-left: 15px;
    height: 50px;
    gap: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 17px;
}
.opc span {
    color: var(--cor-cinza-search);
    font-weight: bolder;
}
.opc .selecionado {
    color: var(--cor-roxo-primario);
    font-size: 20px;
    transition: 0.25s;

}
.opc span:hover {
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1.0);
    transition: all 0.2s;
}