:host {
    --cor-selecionado: #beb8c0;;
}
.chamados {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    margin: 12px;
    width: 100%;
    display: flex;
    position: sticky;
    top: 12px;
    z-index: 999;
}
app-searchbar-layout {
    width: 98%;
    margin: auto;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chamados {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.chamados .erroSpan {
    margin: auto;
    font-size: 24px;
    color: var(--cor-cinza);
    font-weight: bolder;
}
.opc {
    margin-left: 15px;
    height: 50px;
    gap: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 17px;
}
.opc span {
    color: var(--cor-cinza-search);
    font-weight: bolder;
    transition: all 0.25s;
}
.opc .selecionado {
    color: var(--cor-roxo-primario);
    font-size: 20px;
    transition: ease 0.4s;

}
.opc span:hover {
    cursor: pointer;
    transform: scale3d(1.05, 1.05, 1.0);
    transition: all 0.2s;
}
.criar {
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 20px 30px;
    background-color: var(--cor-vermelho);
    border-style: none;
    border-radius: 100px;
    box-shadow: 0 0 5px 3px var(--cor-cinza);
    color: white;
    font-size: 20px;
    transition: ease 0.25s;
}
.criar:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease-in 0.25s;
}
.chamado-card {
    width: 95%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px;
    background-color: var(--cor-cinza-roxo);
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0 0 8px 0.5px rgba(0, 0, 0, 0.454);
    transition: all 0.25s;
}
.chamado-card:hover {
    background-color: var(--cor-selecionado);
    cursor: pointer;
    margin: 5px 0;
    transform: scale(1.03);
    transition: all 0.25s;
}
.textos, .info {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.info {
    align-items: end;
    justify-content: space-between;
    color: var(--cor-info);
}
.textos {
    color: var(--cor-textos);
    gap: 8px;
}
.textos p {
    color: var(--cor-paragrafos);
}
.textos span {
    font-size: 20px;
}
.forms-chamado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
}
.forms-chamado h2 {
    color: var(--cor-roxo-primario);
    font-weight: 700;
    font-size: 36px;
    margin: 15px 0;
}
.forms-chamado input {
    background-color: var(--cor-cinza-roxo-bk);
    width: 250px;
    padding: 10px 20px;
    border-radius: 100px;
    border-style: none;
    box-shadow: inset 1px 1px 5px 1px var(--cor-cinza);
    color: var(--cor-textos);
    font-size: 20px;
}
.forms-chamado select {
    background-color: var(--cor-cinza-roxo-bk);
    width: 290px;
    padding: 10px 10px;
    border-radius: 100px;
    border-style: none;
    box-shadow: inset 1px 1px 5px 1px var(--cor-cinza);
    color: var(--cor-textos);
    font-weight: 700;
    font-size: 16px;
}
.forms-chamado button {
    background-color: var(--cor-roxo-primario);
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-style: none;
    border-radius: 100px;
    padding: 15px 25px;
    box-shadow: 0 0 5px 1px var(--cor-roxo-escuro);
    margin: 15px 0;
    transition: all 0.25s;
}
.forms-chamado button:hover {
    transform: scale(1.1);
    transition: all 0.25s;
    cursor: pointer;
}
.info .status {
    color: white;
    padding: 2px 8px;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 0 6px 0.2px rgba(0, 0, 0, 0.226);
}

.status-aberto { background: #d65959; }
.status-andamento { background: #62b34e; }
.status-resolvido { background: #8f68de; }
.status-aguardando { background: #d79c3d; }