/* You can add global styles to this file, and also import other style files */
:root {
    --cor-roxo-primario: #6059CC;
    --cor-roxo-secundario: #746DE9;
    --cor-roxo-escuro: #141233;
    --cor-cinza-roxo: #CCC6D0;
    --cor-cinza-roxo-bk: #b5b4b6;
    --cor-cinza: #737373;
    --cor-cinza-search: #4E4E4E;
    --cor-vermelho: #CC4D45;
    --cor-info: #6D6B6B;
    --cor-textos: #4E4E4E;
    --cor-paragrafos: #898787;
}
* {
    margin: 0;
    padding: 0;
}